body {
  font-family: 'Arial', sans-serif;
  background-color: #121213;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.question {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.choice {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #515151;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s ease;
}

.choice:hover {
  background-color: #538d4e;
}

.choice:active {
  background-color: #3a6e3a;
}

.container {
  text-align: center;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: #1a1a1b;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.grid-item {
  background-color: #3a3a3c;
  border: 2px solid #3a3a3c;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
}